:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(177, 137, 205, 0.87);
  background-color: #f3d0d0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.5em;
  line-height: 1.1;
  color: #d68dc6;
  font-family: Helvetica;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;

}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f9f5fb;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#canvas {
  border: 3px solid #000000; /* Adding a solid black border around canvas */
  border-radius: 5%; /* Apply rounded corners */
  box-shadow: 0 0 5px; /* Adding drop shadow */
}
.button-container {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  gap: 10px; /* Space between buttons */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-weight: bold;
  font-family: Helvetica;
  background-color: #f1d2ff;
  color: rgb(113, 78, 131);
  cursor: pointer;
  transition: border-color 0.25s;
  margin-left: 3px;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.layout-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
